:host {
	display: grid;
	grid-template:
		"output output" 1fr
		"input controls" auto 
		/ 1fr auto;

	gap: 0.5em;

	background-color: var(--background-color, white);
	color: var(--text-color, black);
}

output {
	position: relative;
	font-family: monospace;
	font-size: 1.5em;
	grid-area: output;
	display: flex;
	flex-direction: column;
	line-height: 1.5;
	overflow-y: scroll;
	border: 1px solid var(--input-border-color, #CCC);
	border-radius: 4px;
	
	.history {
		display: flex;
		flex-direction: column;
		list-style: none;
		padding: 0;
		margin: 0;
		margin-top: auto;
		justify-content: flex-end;

		> :nth-child(odd) {
			background-color: var(--history-item-odd-bg, hsl(196deg 75.21% 95%));
		}

		> :nth-child(even) {
			background-color: var(--history-item-even-bg, transparent);
		}
	}

	.history-item {
		padding: 0.5em 1em;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		column-gap: 3ch;
		row-gap: 0.5em;
		align-items: center;

		.expression, .result {
			cursor: pointer;
		}

		.result, .error {
			text-align: right;
			flex-grow: 1;
		}

		.error {
			color: var(--error-color, red);
		}
	}

}

input {
	grid-area: input;
	font-family: monospace;
	flex: 1;
	font-size: 1.75em;
	padding: 0.5em 1em;
	border: 1px solid var(--input-border-color, #CCC);
	border-radius: 4px;
}

button {
	border: 1px solid var(--button-border-color, #CCC);
	border-radius: 4px;
	background-color: var(--button-color, hsl(196deg 75.21% 90%));
	color: var(--button-text-color);
	cursor: pointer;
	padding: 0.5em 1em;

	transition: background-color 0.2s ease, color 0.2s ease;

	&:hover {
		background-color: var(--button-hover-color, hsl(196deg 75.21% 80%));
		color: var(--button-hover-text-color, black);
	}
}

.controls {
	grid-area: controls;
	display: flex;
	flex-direction: row;
	gap: 0.5em;
	font-size: 2em;

	button {
		aspect-ratio: 1;
	}
}